#home {
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;

  section {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding-left: $md;
    padding-right: $md;
    height: 65%;
    width: 35%;
    margin-top: 100px;
  }

  .cube {
    font-size: 8rem;
    color: $orange;
  }

  h1 {
    font-size: $lg;
    font-weight: 400;
    text-align: center;
    color: $off-white;
    margin-bottom: 60px;
  }

  .play-button-container {
    width: 100%;
  }

  a.play-button {
    background-color: $green;
    border-radius: $button-radius;
    color: #fff;
    font-size: 20px;
    display: block;
    cursor: pointer;
    padding: $normal;
    text-align: center;
    transition: 0.3s linear all;
  }

  a.play-button:hover {
    background-color: darken($green, 10%);
    box-shadow: $shadow;
  }

  .auth-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $lg;
  }
}

@media (max-width: 768px) {
  #home section {
    padding: 0 $normal;
    width: 80%;
    height: 60%;
  }
}
